body, html {
    margin: 0;
    padding: 10px;
    background:rgb(193, 231, 246);
    color: rgb(136, 131, 131);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 30%;
    border-radius: 40px;
    border: 4px solid rgb(136, 131, 131);
}

a {
    color: blueviolet;
}

input {
    display: block;
    margin: 20px 0 0;
    width: 160px;
    box-sizing: border-box;
    padding: 4px 8px;
    border-width: 1px; 
    border-style: solid;
}

button {
    padding: 5px 10px;
    border: none;
    background: navy;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    margin: 8px 0;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 160px;
}

h1 {
    font-family: Pacifico, cursive;
    font-size: 50px;
    color: navy;
}

h2 {
    font-family: Pacifico, cursive;
    font-size: 40px;
    color: navy;
}

ul {
    list-style-type: square;
    padding: 20px;
}

li {
    margin: 10px 0;
    font-size: 18px;
}